.nav {

    &__item {

        & + & {
            margin-left: 60px;

            @media (max-width: 767.98px) {
                margin-left: 15px;
            }
        }
    }

    &__link {
        color: color(white);
        @include font(18, semibold)
    }
}