header {
    padding: 40px 40px 20px;
    position: relative;

    @media (min-width: 1200px) {
        padding: 40px 60px;
    }

    @media (max-width: 767.98px) {
        padding: 20px 10px;
    }
}